<% @phrases.each do |phrase| %>
  <%= "\"#{phrase.content}\" has #{phrase.count} occurrences" %>
  <% Item.where('lower(name) = ?', phrase.content.downcase).each do |item| %>
      <span style="color:red;"><%= item.category.name.titleize %></span>
  <% end %>
  <br>

  <% ContextCategory.each do |category| %>
    <% entries = phrase.entries.joins(:context_categories).where("context_categories.id = ?", category.id) %>
    <% next unless entries.present %>
    <%= "#{phrase.content} articles about #{category.name.titleize}:" %>
    <% entries.each do |entry| %>
      <%= link_to entry.title, entry_path(entry.id) %>
    <% end %>
    <br>
  <% end %>

  <% contextless_entries = phrase.entires.where("entries.id NOT IN (SELECT entry_id from entry_context)") %>
  <% if contextless_entries.present? %>
    <%= "Other #{phrase.content} articles:" %>
    <%= contextless_entries.each do |entry| %>
      <%= link_to entry.title, entry_path(entry.id) %>
    <% end %>
    <br>
  <% end %>

<!--   <% phrase.entries.includes(:context_categories).each do |entry| %>
    <%= link_to entry.title, entry_path(entry.id) %>
    <% entry.context_categories.each do |context_category| %>
      <span style="color:red;"><%= context_category.name.titleize %></span>
    <% end %>
    <br>
  <% end %> -->

  <br>
  <br>
<% end %>