<% @phrases.each do |phrase| %>
  <%= "\"#{phrase.content}\" has #{phrase.count} occurrences" %>
  <span style="color:red;"><%= "SOFTWARE OS" if phrase.software_os? %></span>
  <span style="color:red;"><%= "BIG COMPANY" if phrase.big_company? %></span>
    <span style="color:red;"><%= "PRODUCT" if phrase.product? %></span>
  <br>
  <% phrase.phrase_entries.pluck(:entry_id).each do |entry| %>
    <%= link_to entry, entry_path(entry) %>
  <% end %>
  <br>
  <br>
<% end %>