<% @phrases.each do |phrase| %>
  <h3>
    <%= "\"#{phrase.example}\" has #{phrase.count} occurrences" %>
    <% Item.where('lower(name) = ?', phrase.content.downcase).each do |item| %>
        <span style="color:red;"><%= item.category.name.titleize %></span>
    <% end %>
  </h3>
  <br>
  <% if false #phrase.similar_phrases.present? %>
    Similar phrases:<br>
    <% phrase.similar_phrases.each do |similar_phrase| %>
      <%= "#{similar_phrase[:example]} - #{similar_phrase[:count]} shared articles" %><br>
    <% end %>
    <br>
  <% end %>

  <% control_id = 1 %>
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <% ContextCategory.all.each do |category| %>
      <% entries = phrase.entries.joins(:context_categories).where("context_categories.id = ?", category.id) %>
      <% next unless entries.present? && entries.count > 2 %>
      <% title = "\"#{phrase.example}\" articles about #{category.name.titleize}:" %>
      <%= render partial: "accordion_card", locals: {title: title, entries: entries, control_id: "#{phrase.content}-collapse#{control_id}", expanded: control_id == 1} %>
      <% control_id = control_id + 1 %>
    <% end %>

    <% title = "All \"#{phrase.example}\" articles:" %>
    <%= render partial: "accordion_card", locals: {title: title, entries: phrase.entries, control_id: "#{phrase.content}-collapse#{control_id}", , expanded: control_id == 1} %>
  </div>

  <br>
  <br>
<% end %>