<div class="card">
  <h3 class="card-header">Trending Articles</h3>
  <div class="card-block">
    <% Entry.most_phrases.each do |info| %>
      <% entry = Entry.find(info[0]) %>
      <div><%= link_to entry.title, entry_path(entry.id) %></div>
    <% end %>
  </div>
</div>

<h2>Trending Topics:</h2>
<div class="card-columns">
  <% @phrases.each_with_index do |phrase, idx| %>
    <div class="feed-card card">
      <div class="thing-category <%= phrase.category.category.name.downcase.gsub(" ", "-") if phrase.category %>"></div>
      <div class="feed-card-contents">
        <div class="phrase-header"><%= "#{phrase.example} (#{phrase.count})" %></div>

        <% if false #phrase.similar_phrases.present? %>
          Similar phrases:<br>
          <% phrase.similar_phrases.each do |similar_phrase| %>
            <%= "#{similar_phrase[:example]} - #{similar_phrase[:count]} shared articles" %><br>
          <% end %>
          <br>
        <% end %>

        <% element_count = 1 %>
        <% all_entries = phrase.entries.joins(:context_categories) %>
        <div id="accordion<%= idx %>" role="tablist" aria-multiselectable="true">
          <% phrase.entry_display_array.each do |display_info| %>
            <% title = "#{display_info[:category].name.titleize} (#{display_info[:entries].size})" %>
            <% control_id = "#{phrase.content.gsub(" ", "-")}-collapse#{element_count}" %>
            <% header_id = "#{phrase.content.gsub(" ", "-")}-header#{element_count}" %>
            <%= render partial: "accordion_card", locals: {title: title, entries: display_info[:entries], control_id: control_id, header_id: header_id, accordion_id: "accordion#{idx}"} %>
            <% element_count = element_count + 1 %>
          <% end %>

          <% title = "All Articles:" %>
          <% control_id = "#{phrase.content.gsub(" ", "-")}-collapse#{element_count}" %>
          <% header_id = "#{phrase.content.gsub(" ", "-")}-header#{element_count}" %>
          <%= render partial: "accordion_card", locals: {title: title, entries: phrase.entries, control_id: control_id, header_id: header_id, accordion_id: "accordion#{idx}"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>