<% @phrases.each_with_index do |phrase, idx| %>
  <h3>
    <%= "\"#{phrase.example}\" has #{phrase.count} occurrences" %>
    <% Item.where('lower(name) = ?', phrase.content.downcase).each do |item| %>
        <span style="color:red;"><%= item.category.name.titleize %></span>
    <% end %>
  </h3>
  <br>
  <% if false #phrase.similar_phrases.present? %>
    Similar phrases:<br>
    <% phrase.similar_phrases.each do |similar_phrase| %>
      <%= "#{similar_phrase[:example]} - #{similar_phrase[:count]} shared articles" %><br>
    <% end %>
    <br>
  <% end %>

  <% element_count = 1 %>
  <div id="accordion<%= idx %>" role="tablist" aria-multiselectable="true">
    <% ContextCategory.all.each do |category| %>
      <% entries = phrase.entries.joins(:context_categories).where("context_categories.id = ?", category.id) %>
      <% next unless entries.present? && entries.count > 2 %>
      <% title = "\"#{phrase.example}\" articles about #{category.name.titleize}:" %>
      <% control_id = "#{phrase.content}-collapse#{element_count}" %>
      <% header_id = "#{phrase.content}-header#{element_count}" %>
      <%= render partial: "accordion_card", locals: {title: title, entries: entries, control_id: control_id, expanded: element_count == 1, header_id: header_id, accordion_id: "accordion#{idx}"} %>
      <% element_count = element_count + 1 %>
    <% end %>

    <% title = "All \"#{phrase.example}\" articles:" %>
    <% control_id = "#{phrase.content}-collapse#{element_count}" %>
    <% header_id = "#{phrase.content}-header#{element_count}" %>
    <%= render partial: "accordion_card", locals: {title: title, entries: phrase.entries, control_id: control_id, expanded: element_count == 1, header_id: header_id, accordion_id: "accordion#{idx}"} %>
  </div>

  <br>
  <br>
<% end %>