<h2>Trending Articles:</h2>
<ul>
  <% Entry.most_phrases.each do |info| %>
    <% entry = Entry.find(info[0]) %>
    <li><%= link_to entry.title, entry_path(entry.id) %></li>
  <% end %>
</ul><br>

<h2>Trending Topics:</h2>
<% @phrases.each_with_index do |phrase, idx| %>
  <div class="feed-card">
    <h3>
      <%= "\"#{phrase.example}\" has #{phrase.count} occurrences" %>
      <% phrase.categories.each do |item| %>
          <span style="color:red;"><%= item.category.name.titleize %></span>
      <% end %>
    </h3>
    <br>
    <% if false #phrase.similar_phrases.present? %>
      Similar phrases:<br>
      <% phrase.similar_phrases.each do |similar_phrase| %>
        <%= "#{similar_phrase[:example]} - #{similar_phrase[:count]} shared articles" %><br>
      <% end %>
      <br>
    <% end %>

    <% element_count = 1 %>
    <% all_entries = phrase.entries.joins(:context_categories) %>
    <div id="accordion<%= idx %>" role="tablist" aria-multiselectable="true">
      <% phrase.entry_display_array.each do |display_info| %>
        <% title = "#{display_info[:category].name.titleize}: #{display_info[:entries].size} Articles" %>
        <% control_id = "#{phrase.content}-collapse#{element_count}" %>
        <% header_id = "#{phrase.content}-header#{element_count}" %>
        <%= render partial: "accordion_card", locals: {title: title, entries: display_info[:entries], control_id: control_id, header_id: header_id, accordion_id: "accordion#{idx}"} %>
        <% element_count = element_count + 1 %>
      <% end %>

      <% title = "All articles:" %>
      <% control_id = "#{phrase.content}-collapse#{element_count}" %>
      <% header_id = "#{phrase.content}-header#{element_count}" %>
      <%= render partial: "accordion_card", locals: {title: title, entries: phrase.entries, control_id: control_id, header_id: header_id, accordion_id: "accordion#{idx}"} %>
    </div>
  </div>

  <br>
  <br>
<% end %>