<% @phrases.each do |phrase| %>
  <h3>
    <%= "\"#{phrase.example}\" has #{phrase.count} occurrences" %>
    <% Item.where('lower(name) = ?', phrase.content.downcase).each do |item| %>
        <span style="color:red;"><%= item.category.name.titleize %></span>
    <% end %>
  </h3>
  <br>
  <% if false #phrase.similar_phrases.present? %>
    Similar phrases:<br>
    <% phrase.similar_phrases.each do |similar_phrase| %>
      <%= "#{similar_phrase[:example]} - #{similar_phrase[:count]} shared articles" %><br>
    <% end %>
    <br>
  <% end %>

  <% ContextCategory.all.each do |category| %>
    <% entries = phrase.entries.joins(:context_categories).where("context_categories.id = ?", category.id) %>
    <% next unless entries.present? && entries.count > 2 %>
    <%= "\"#{phrase.example}\" articles about #{category.name.titleize}:" %><br>
    <% entries.each do |entry| %>
      <%= link_to entry.title, entry_path(entry.id) %><br>
    <% end %>
    <br>
  <% end %>

  <%= "All \"#{phrase.example}\" articles:" %><br>
  <% phrase.entries.each do |entry| %>
    <%= link_to entry.title, entry_path(entry.id) %><br>
  <% end %>
  <br>

  <br>
  <br>
<% end %>