<% @phrases.each do |phrase| %>
  <h3>
    <%= "\"#{phrase.content.titleize}\" has #{phrase.count} occurrences" %>
    <% Item.where('lower(name) = ?', phrase.content.downcase).each do |item| %>
        <span style="color:red;"><%= item.category.name.titleize %></span>
    <% end %>
  </h3>
  <br>
  <% if phrase.similar_phrases.present? %>
    Similar phrases:<br>
    <% phrase.similar_phrases.each do |similar_phrase| %>
      <%= "#{similar_phrase.content.titleize} - #{similar_phrase.count} shared articles" %><br>
    <% end %>
    <br>
  <% end %>

  <% ContextCategory.all.each do |category| %>
    <% entries = phrase.entries.joins(:context_categories).where("context_categories.id = ?", category.id) %>
    <% next unless entries.present? %>
    <%= "\"#{phrase.content.titleize}\" articles about #{category.name.titleize}:" %><br>
    <% entries.each do |entry| %>
      <%= link_to entry.title, entry_path(entry.id) %><br>
    <% end %>
    <br>
  <% end %>

  <% contextless_entries = phrase.entries.where("entries.id NOT IN (SELECT entry_id from entry_contexts)") %>
  <% if contextless_entries.present? %>
    <%= "Other \"#{phrase.content.titleize}\" articles:" %><br>
    <% contextless_entries.each do |entry| %>
      <%= link_to entry.title, entry_path(entry.id) %><br>
    <% end %>
    <br>
  <% end %>
  <br>
  <br>
<% end %>