<h2>Things</h2>

<h3>Add a new category</h3><br>
<%= form_for @category do |f| %>

  Display Name: <%= f.text_field :name %><br><br>
  Priority: <%= f.number_field :priority %><br><br>
  <%= f.file_field :category_file %><br><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br>
<br>

<h3>Current Categories</h3>
<% @categories.each do |category| %>
  <%= link_to category.name, category_path(category.id) %><br>
  <%= "Prioirty: #{context.priority}" %><br>
  <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
<% end %>